<!-- Side Navigation -->
<div class="sidebar">
    <div class="logo-details">
        <i class='bx bxs-cube-alt'></i>
        <span class="logo_name">Vertex Admin</span>
    </div>
    <ul class="nav-links">
        <li class="<%= locals.currentPage === 'dashboard' ? 'active' : '' %>">
            <a href="/dashboard">
                <i class='bx bxs-dashboard'></i>
                <span class="link_name">Dashboard</span>
            </a>
        </li>
        <li class="<%= locals.currentPage === 'members' ? 'active' : '' %>">
            <a href="/members/allmembers">
                <i class='bx bxs-user'></i>
                <span class="link_name">Members</span>
            </a>
        </li>
        <li class="<%= ['pins', 'addpins', 'allpins'].includes(locals.currentPage) ? 'active' : '' %>">
            <div class="icon-link">
                <a href="#">
                    <i class='bx bxs-key'></i>
                    <span class="link_name">Pin Management</span>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
                <li><a href="/pins/addpins" class="<%= locals.currentPage === 'addpins' ? 'active' : '' %>">Add Pins</a></li>
                <li><a href="/pins/allpins" class="<%= locals.currentPage === 'allpins' ? 'active' : '' %>">Assigned Pins</a></li>
            </ul>
        </li>
        <li class="<%= locals.currentPage === 'messages' ? 'active' : '' %>">
            <a href="/messages/allmessages">
                <i class='bx bxs-message'></i>
                <span class="link_name">Messages</span>
            </a>
        </li>
        <li class="<%= ['cards', 'requestcard', 'allcards', 'transactions', 'use_request', 'payable_request'].includes(locals.currentPage) ? 'active' : '' %>">
            <div class="icon-link">
                <a href="#">
                    <i class='bx bxs-credit-card'></i>
                    <span class="link_name">Credit Cards</span>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
                <li><a href="/cards/requestcard" class="<%= locals.currentPage === 'requestcard' ? 'active' : '' %>">Request for new card</a></li>
                <li><a href="/cards/allcards" class="<%= locals.currentPage === 'allcards' ? 'active' : '' %>">Assigned card list</a></li>
                <li><a href="/cards/use-request" class="<%= locals.currentPage === 'use_request' ? 'active' : '' %>">Request for use amount</a></li>
                <li><a href="/cards/payable-request" class="<%= locals.currentPage === 'payable_request' ? 'active' : '' %>">Request for payable amount</a></li>
                <li><a href="/cards/transactions" class="<%= locals.currentPage === 'transactions' ? 'active' : '' %>">Transactions list</a></li>
            </ul>
        </li>
        <li class="<%= ['gifts', 'addgift', 'allgifts', 'distributor', 'received'].includes(locals.currentPage) ? 'active' : '' %>">
            <div class="icon-link">
                <a href="#">
                    <i class='bx bxs-gift'></i>
                    <span class="link_name">Gifts</span>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
                <li><a href="/gifts/add" class="<%= locals.currentPage === 'addgift' ? 'active' : '' %>">Add Gift</a></li>
                <li><a href="/gifts/list" class="<%= locals.currentPage === 'allgifts' ? 'active' : '' %>">All Gifts</a></li>
                <li><a href="/gifts/distributor" class="<%= locals.currentPage === 'distributor' ? 'active' : '' %>">Distributor</a></li>
                <li><a href="/gifts/received" class="<%= locals.currentPage === 'received' ? 'active' : '' %>">Received</a></li>
            </ul>
        </li>
        <li class="<%= locals.currentPage === 'transactions' ? 'active' : '' %>">
            <a href="/transactions/list">
                <i class='bx bx-transfer'></i>
                <span class="link_name">Transactions</span>
            </a>
        </li>
        <li class="profile">
            <div class="profile-details">
                <i class='bx bxs-user-circle'></i>
                <div class="name-job">
                    <div class="name"><%= user?.name || "Admin" %></div>
                    <div class="job">Administrator</div>
                </div>
            </div>
            <form action="/auth/logout" method="POST">
                <button type="submit" class="logout-btn"><i class='bx bx-log-out'></i></button>
            </form>
        </li>
    </ul>
</div>
